SUPABASE_API_KEY=xxxxxxxxxxxxxxxxxxx
SUPABASE_URL=https://xxxx.supabase.co
OLLAMA_LLM_BASE_URL=http://localhost:11434
OLLAMA_LLM_MODEL=llama3.2
OLLAMA_EMBEDDINGS_BASE_URL=http://localhost:11434
OLLAMA_EMBEDDINGS_MODEL=nomic-embed-text
SUPABASE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpldWViaGZucmFjdXpkdmJmZGVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI3MzI4MzIsImV4cCI6MjA2ODMwODgzMn0.MnxqLxHlWEOSvJQQ0q_amvOrK3rNfnp6GWbZCJqIxB4
SUPABASE_URL=https://jeuebhfnracuzdvbfdee.supabase.co
OLLAMA_LLM_BASE_URL=http://localhost:11434
OLLAMA_LLM_MODEL=llama3.2
OLLAMA_EMBEDDINGS_BASE_URL=http://localhost:11434
OLLAMA_EMBEDDINGS_MODEL=nomic-embed-text